menu "Example Configuration"


    config RX_PIN_NUM
        int "RX pin number"
        default 48
        help
            GPIO number for UART RX pin

    config SDA_PIN_NUM
        int "SDA pin number"
        default 21
        help
			GPIO number for i2c SDA pin

    config SCL_PIN_NUM
        int "SCL pin number"
        default 47
        help
			GPIO number for i2c SCL pin
endmenu
